p {
	font-family: "arial";
	background-color: red;
}

.container {
	list-style: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
	display: flex;
	background: #9ACD32;
	flex-wrap: wrap;
}

.container li {
	margin: 20px;
	padding: 0px;
	width: 100px;
	height: 100px;
	text-align: center;
	border: 10px solid white;
	background-color: green;
    vertical-align: middle;
    line-height: 100px;
    color: white;
    font-weight: bolder;
    font-size: 5em;


}
